<div class="container-fluid">
    <h1>For Me</h1>
    <div class="songs">
        <div class="card">
            <div class="card-body" *ngFor="let song of songs" (click)="navigateToSongDetails(song.id)">
                <div class="song-image">
                    <img [src]="'data:image/png;base64,' + song.albumImage" alt="">
                </div>
                <h3 class="card-text">{{song.name}}</h3>
                    <div class="song-info">
                        <span class="name">Song&nbsp;&nbsp;· &nbsp;&nbsp;</span>
                        <span class="artist">{{song.artistName}}</span>
                    </div>
                    <div class="song-extra-info">
                        <span class="style">{{song.styleName}}&nbsp;&nbsp; &nbsp;&nbsp;</span>
                        <span class="play-count">{{song.totalPlayCount}}</span>
                    </div>
            </div>
        </div>
    </div>
</div>
