<div>
    <button
        class="btn dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        >Filters</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" (click)="onStyleChange(null)">All</a></li>
            <li><a class="dropdown-item"
              *ngFor="let style of styles"
              (click)="onStyleChange(style.id)">{{ style.name }}</a></li>
        </ul>
</div>
  
