<nav class="navbar">
    <div class="container-fluid">
        <div class="logotipo">
          <img src="../favicon.ico">
        </div>
        <div class="navbar-brand">
          <h3 [routerLink]="['']">Kreitefy</h3>
        </div>
        <div class="auth">
          <span *ngIf="isLoggedIn" class="user-name me-3">Welcome, {{ userName }}</span>
          <button type="button" class="btn" (click)="handleLoginLogout()">
            {{ isLoggedIn ? 'Logout' : 'Login' }}
          </button>
        </div>
      </div>
  </nav>
