<div class="container-fluid">
    <div class="login">
        <h1>Login</h1>
        <form class="form-container" [formGroup]="form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" id="email" required>
                <div *ngIf="form.get('email')!.touched && form.get('email')!.errors" class="text-danger">
                    <small *ngIf="form.get('email')!.errors!['required']">This field is required.</small>
                    <small *ngIf="form.get('email')!.errors!['email']">Please, insert a valid email.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" id="password" required>
                <div *ngIf="form?.get('password')!.touched && form.get('password')!.errors" class="text-danger">
                    <small *ngIf="form.get('password')!.errors!['special']">Password must contain at least one special character.</small>
                    <small *ngIf="form.get('password')!.errors!['required']">This field is required.</small>
                    <small *ngIf="form.get('password')!.errors!['minLength']">Password must be at least 8 characters.</small>
                    <small *ngIf="form.get('password')!.errors!['uppercase']">Password must contain at least one uppercase letter.</small>
                    <small *ngIf="form.get('password')!.errors!['lowercase']">Password must contain at least one lowercase letter.</small>
                    <small *ngIf="form.get('password')!.errors!['number']">Password must contain at least one number.</small>
                </div>
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
            <div class="buttons">
                <button class="btn send" (click)="loginUser()">Login</button>
                <button class="btn back" (click)="goBack()">Cancel</button>
            </div>
            <div class="text-center register">
                <p>Don't have an account?
                    <a [routerLink]="['/register']" class="register-link">Sign up here</a>.
                </p>
            </div>
        </form>
    </div>
</div>
